.menu-opt-btn {
  background-color: #4f4d82;
  border: none;
  color: #fff47c;
  padding: 30px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 12px;
}

.ui-nightstand-folder {
  background-color: #803030;
  width: 80vw;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
  border-radius: 12px;
  div {
    background-color: #fff47c;
    height: 100%;
    position: relative;
    border: #4f4d82 1px solid;
    padding: 20px;
    width: 50%;
    text-align: start;
    color: #000;
  }
  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4f4d82;
    border: none;
    color: #fff47c;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}
